.create-tweet{
  width: 20vw;
  /* padding-top: 34px; */
  padding-left: 0rem;
  /* width: 100%;
  padding-top: 5%;
  padding-left: 2%; */
}
/* @media screen and (max-width: 500px) {
  .create-tweet{
    padding-top: 15%;
  }
} */