#signin-btn{
  background: none;
  margin-right: 5px;
}

#signup-btn{background: none;}

.nav-options-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-div{
  
}
@media screen and (max-width: 500px) {
  .avatar-div{
    visibility: hidden;
  }
}
.nav-options-div{

}