#signin-btn{
  background: rgb(156 39 176 / 59%);;
  margin-right: 5px;
}

#signup-btn{background: rgb(156 39 176 / 59%);;}

.nav-options-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-div{
  display: block;
}
@media screen and (max-width: 500px) {
  .avatar-div{
   display: none;
   width: 0px;
   height: 0px;
  }
  #signup-btn{
    font-size: small;
  }
  #signin-btn{
    font-size: small;
  }
}