.nav{
  display: flex;
  background-color: rgb(29, 161, 242);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 54px;
}

.nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

.nav-items{
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-left: 0px;
  margin-bottom: 0rem;
}

.nav-items .list-item{
  display: inline-block;
}

.nav-items .list-item a{
  text-decoration: none;
}

.nav-items-div{
  display: flex;
}

.div-logo-search{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding-top: 2px;
}

@media screen and (max-width: 500px) {
  .nav {
      /* background: #0000ff00; */
      position: fixed;
      top: 0;
      left: 0;
      height: 49px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content:space-between;
  }
  .nav-items-div{
      display: flex;
      flex-direction: row;
      padding: 0 0.01vw;
  }
  .list-item{
      width: 20%;
  }
  .navbar a{
      color: blue;
  }
  .logo:hover{
      opacity: 0.5;
  }
  .logo{
    size: 2px;
  }
  .div-logo-search{
    padding-top: 5px;
  }
}

.logo{
  padding-left: 12px;;
padding-right: 10px;
}

.primary-icon{
  height: 28px;
  border-radius: 50%;
}

.logo-a{
  text-decoration-line: none;
  font-size: medium;
  color: maroon;
}

.Dropdown-control{
  background-color: rgb(29,161,242);
  border: 0px solid rgb(29, 161, 242);
  font-size:larger;
  text-transform:capitalize;
  color: maroon;
  font-weight: 400;
}

.Dropdown-menu{
  background-color: whitesmoke;
  font-weight: 400;
}

.Dropdown-arrow{
border-color:black transparent transparent;
border-width: 5px 5px 0;
}