.twitter-div{
  display: flex;
  flex-direction: column;
  padding-top: 74px;
}

/* .twitter-user-heading{
  padding-top: 29px;
} */


.twitter-div {
  max-width: 600px;
  margin: 0 auto;
  padding-right: 18px;
  /* margin-top: 20px; */
}

.app-logo {
  margin-bottom: 18px;
}

@media screen and (max-width: 500px) {
  .twitter-div{
    display: flex;
    flex-direction: column;
    padding-top: 56px;
  }
}