.user-div{
  height: 95vh;
  padding-top: 76px;
  padding-left: 1rem;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
}
.avatar-div{
  display: flex;
  flex-direction: row;
  padding-bottom: 2px;
}

.intro-div{
  border: 0px solid black;
  padding: 1px;
  border-radius: 10px;
  color: darkmagenta;
  /* border-bottom: 1px none rgb(47, 51, 54); */
}

.intro-div h2{
  text-shadow: 2px 2px 5px red;
}

@media screen and (max-width: 500px){
  .user-div{
    height: 95vh;
    padding-top: 54px;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
  }
  .intro-div{
    padding-left: 0px;
  }
  .profile-avatar-div {
    display: block;
  }
  .same-row-avatar-intro{
    font-size: small;
  }
  .small-font-small-screen{
    font-size: small;
  }
}

.editable-description{
  border: 2px solid black;
}

.desc-p:hover + .hide {
  display: inline-flex;
  color: rgb(29, 161, 242);
  font-style: italic;
}
.same-row-avatar-intro{
  display: flex;
}