.user-result-div{
  padding: 56px;
  padding-top: 91px;
  list-style: none;
}

@media screen and (max-width: 500px) {

}
.user-result-li{
  display: flex;
  align-items: center;
  padding-bottom: 7px;
}

.capitalize-link{
  text-transform: capitalize;
}