.user-div{
  height: 95vh;
  padding-top: 76px;
  padding-left: 1rem;
}
.avatar-div{
  display: flex;
  flex-direction: row;
  padding-bottom: 2px;
}

.intro-div{
  border: 1px solid black;
  padding: 1px;
  border-radius: 10px;
  /* border-bottom: 1px none rgb(47, 51, 54); */
}

@media screen and (max-width: 500px){
  .user-div{
    height: 95vh;
    padding-top: 54px;
    padding-left: 1rem;
  }
  .intro-div{
    padding-left: 1rem;
  }
}